body {
  background-color: #ffffff;
  
}
.sidenav{
  --cui-tertiary-bg: linear-gradient(156deg,#06d3d5 30%,#2a81cb 80%);
  --cui-sidebar-nav-link-hover-color: #ffffff;
  --cui-emphasis-color: #ffffff;
  font-family: "Lato";
}

.sidebarheader{
  justify-content: center;
}

.headercont{
  margin-bottom: 1.5rem;
  padding: 0;
  --cui-header-border-color: #ffffff;
  justify-content: center;
}

.banner{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.container{
  margin-bottom: 1rem;
  font-size: medium;
  font-family: "Lato";
}

.cardbody{
  margin-left: 5px; 
  margin-bottom: 10px;
  font-weight: bold;
  font-size: x-large;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: 'fixed';
  top: 0;
  left: 0;
}

.footer{
  --cui-tertiary-bg: #ffffff;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: "Lato";
}

.sidelogo{
  width: 70%;
}

.searchbox{
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  width: 100%;
}

.tablabel{
  --cui-nav-underline-border-link-active-color: var(--cui-info);
  --cui-nav-link-hover-color:  var(--cui-info)
}

.pagenum{
  --cui-pagination-color: var(--cui-info);
  --cui-pagination-active-bg: var(--cui-info);
  --cui-pagination-active-border-color: var(--cui-info);
  margin-top: 15px;
}

.accorditem{
  --cui-accordion-active-color: #ffffff;
  --cui-accordion-active-bg: var(--cui-info);
  --cui-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #ffffff;
}

.hreflink{
  color: var(--cui-info);
}